.time {
    color: #777;
    font-size: 0.75rem;
}
form {
    border-top: 1px solid #DDD;
    
    input {
        width: 90%;
        border: none;
        height: 2rem;
        margin-top: 0.75rem;
    }
}
.ellipsis {
    position: relative;
    left: 2rem;
}