@import '../../mixins';

.search-bar {
    @include flex(row, nowrap);
    // display: flex;
    // height: 100px;
    align-items: center;
    border: 1px dotted blue;
    .bar-item {
        margin: 0 5px;
        // border: 1px dashed red;
        h1 {
            border-left: 1px solid black;
            padding: 0 5px;
        }
    }
}