.post-box {
    border: 1px dashed green;
    .post {
        margin: 20px 0;
        img {
            max-width: 100%;
            height: auto;
            .thumbnail {
                height: 50%;
                width: 50%;
                border-radius: 33%;
            }
        }
        .post-header {
            display: flex;
            // @include flex(row, nowrap);
        }
    }
    
}
